@import './mixin';

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.margin-bttom {
    margin-bottom: 40px;
}

.display-center {
    @include flex-center;
}

.display-space-between {
    // @include display-space-between;
}