@import './mixin';

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.margin-bttom {
    margin-bottom: 40px;
}

.display-center {
    @include flex-center;
}

input,
textarea,
select {
    font-size: 16px;
    /* Prevent auto zoom */
    touch-action: manipulation;
}

input:focus {
    font-size: 16px;
}

.display-space-between {
    // @include display-space-between;
}